* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    color: cadetblue;
}

main {
    display: flex;
    flex-direction: row;
}

/****************
       FORM
****************/
#form {
    background-color: cadetblue;
    border-radius: 15px;

    /*box-sizing: border-box;*/
    width: 30%;
    height: 50vh;

    margin: 0 50px 0 35px;
    padding: 5% 2.5%;

    display: flex;
    flex-direction: column;
}

#form h2 {
    color: white;
}

#form #name {
    margin: 2% 0;
    padding: 2% 0;
    border: none;
}

#points {
    color: rgb(100, 100, 100);
    margin: 2% 0;
    padding: 2% 0;
    border: none;
}

#course {
    margin: 2% 0;
    padding: 2% 0;
    border: none;
}

#session {
    color: rgb(100, 100, 100);
    margin: 2% 0;
    padding: 2% 0;
    border: none;
}

#submit {
    color: rgb(100, 100, 100);
    margin-top: 25px;
    padding: 5px 0px;
    border: none;
}

/*****************
  ALL CHALLENGES
*****************/
#challengeBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 15px;
}

#card {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 45%;
    height: 20vh;

    margin: 5px;
    padding-top: 5px;
    border: cadetblue solid 2px;
    border-radius: 15px;

    text-align: center;
}

#card h3 {
    margin-bottom: 5px;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#info p {
    margin: 10px 0;
}

#change {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#change button {
    margin: 10px 0;
    padding: 3px 5px;
    border: none;
    color: white;
    background-color: cadetblue;
}