* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    color: cadetblue;
}

/****************
       FORM
****************/
#form {
    background-color: cadetblue;
    padding: 5% 2.5%;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#form h2 {
    color: white;
}

#form #name {
    margin: 2% 0;
    padding: 2% 0;
    border: none;
}

#form #points {
    color: rgb(100, 100, 100);
    margin: 2% 0;
    padding: 2% 0;
    border: none;
}

#form #course {
    margin: 2% 0;
    padding: 2% 0;
    border: none;
}

#form #session {
    color: rgb(100, 100, 100);
    margin: 2% 0;
    padding: 2% 0;
    border: none;
}

#form #submit {
    color: rgb(100, 100, 100);
    margin-top: 25px;
    padding: 5px 0px;
    border: none;
}

/*****************
  ALL CHALLENGES
*****************/
#challengeBlock {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#card {
    width: 32%;
    display: flex;
    flex-direction: column;

    margin: auto;
    text-align: center;
    border: cadetblue solid 2px;
}

#card:hover {
    background-color: cadetblue;
    color: white;
    height: 125px;
    width: 33%;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}